@model StudentDto
@{
}


<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Edit Student</h2>

        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Id</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly value="@ViewData["StudentId"]">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Grade</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Grade">
                        <option value='Grade 06'>Grade 06</option>
                        <option value='Grade 07'>Grade 07</option>
                        <option value='Grade 08'>Grade 08</option>
                        <option value='Grade 09'>Grade 09</option>
                        <option value='Grade 10'>Grade 10</option>
                        <option value='Grade 11'>Grade 11</option>
                    </select>
                    <span asp-validation-for="Grade" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="offset-sm-4 col-sm-8">
                    <img src="/students/@ViewData["ImageFileName"]" width="150" />
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Image</label>
                <div class="col-sm-8">
                    <input class="form-control" type="file" asp-for="ImageFile" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Join Date</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly value="@ViewData["JoinDate"]">
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Students" asp-action="Index" role="button">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>