@model TeacherDto
@{
}


<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Edit Teacher</h2>

        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Id</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly value="@ViewData["TeacherId"]">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Subject</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Subject">
                        <option value='Mathematics'>Mathematics</option>
                        <option value='Physics'>Physics</option>
                        <option value='Chemistry'>Chemistry</option>
                        <option value='Biology'>Biology</option>
                        <option value='History'>History</option>
                        <option value='Geography'>Geography</option>
                        <option value='English'>English</option>
                        <option value='Art'>Art</option>
                        <option value='Computer Science'>Computer Science</option>
                        <option value='Physical Education'>Physical Education</option>
                    </select>
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="offset-sm-4 col-sm-8">
                    <img src="/teachers/@ViewData["ImageFileName"]" width="150" />
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Image</label>
                <div class="col-sm-8">
                    <input class="form-control" type="file" asp-for="ImageFile" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Join Date</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly value="@ViewData["JoinDate"]">
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Teachers" asp-action="Index" role="button">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
